* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: aqua;
    text-align: center;
    padding: 1%;
    flex-shrink: 0;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#task-list-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: auto;
}

#radio-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% 0;
}

#task-list-container {
    width: 70%;
    margin: 0 auto;
    border: solid blueviolet 1px;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 65vh; /* Adjust this value as needed to control height */
}

#todo-task-list {
    padding: 0;
    margin: 0;
    border: solid lawngreen 1px;
    list-style: none;
}

.todo-task {
    display: flex;
    align-items: center;
    border: solid black 1px;
}

#completed-task-list {
    display: none;
}

.task-drag {
    width: 10%;
}
.task-desc {
    width: 70%;
}
.task-completed-btn {
    width: 12%;
}
.task-delete-btn {
    width: 8%;
}


#add-task-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 65%;
    margin: 1% auto;
}