* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: aqua;
    text-align: center;
    padding: 1%;
    flex-shrink: 0;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#task-list-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: auto;
}

#radio-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-button-on, .radio-button-off {
    border: solid blue 1px;
    border-radius: 10px;
    padding: 1% 2%;
    margin: 1% 0.5%;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}
.radio-button-on {
    background-color: blue;
    color: white;
}
.radio-button-off {
    background-color: white;
}

#task-list-container {
    width: 70%;
    margin: 0 auto;
    padding: 0.25%;
    background-color: lightsteelblue;
    border: solid black 4px;
    border-radius: 10px;
    flex-grow: 1;
    overflow-y: auto;
    min-height: 60vh;
    max-height: 60vh;
}

#todo-task-list, #completed-task-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
#completed-task-list {
    display: none;
}

.todo-task, .completed-task {
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin: 0.2%;
}
.todo-task {
    background-color: lightblue;
    border: solid darkblue 3px;
}
.completed-task {
    background-color: darkblue;
    color: white;
    border: SOLID lightblue 3px;
}

.task-drag {
    width: 10%;
}
.task-desc {
    width: 70%;
    word-wrap: break-word;
}
.task-completed-btn {
    width: 12%;
}
.task-delete-btn {
    width: 8%;
}


#add-task-section {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 65%;
    margin: 0.75% auto;
}

#add-task-desc-input {
    width: 90%;
    padding: 0.75%;
    margin: 0.75% 0.25% 0.5%;
    resize: none;
    overflow-y: auto;
    font-size: 1.2em;
}

#add-task-btn {
    align-self: center;
    width: 10%;
}